body {
	font-family: Staatliches, sans-serif;
}

#scoreboard {
	display: flex;
	position: absolute;
	top: 0px;
    left: 50%;
	margin-left: -82px;
}

#blu_team{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 863px;
    height: 56px;
    background-color: #4bdae1;
    text-align: right;

}

#red_team{
    position: absolute;
    top: 0px;
    left: 1057px;
    width: 863px;
    height: 56px;
    background-color: #e1524b;
    text-align: left;
    

}

.score {
	color: white;
    background-color: black;
	font-size: 50px;

	height: 56px;
	width: 80px;

	text-align: center;
}


.teamName{
    font-size: 50px;
    bottom: 54px;
    align-items: center;
}


.scoreBox1{
    position: absolute;
    color: white;
    background-color: black;
    font-size: 48px;
    height: 56px;
    width: 56px;
    text-align: center;
    top:0px;
    left: 811px;
}
.scoreBox2{
    position: absolute;
    color: white;
    background-color: black;
    font-size: 48px;
    height: 56px;
    width: 56px;
    text-align: center;
    top:0px;
    left: 1053px;
}

.nameTag1{
    position: absolute;
    background-color: #4bdae1;
    left: 0px;
    top: 0px;
    height: 56px;
    width: 811px;
    text-align: center;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;

}

.nameTag2{
    position: absolute;
    background-color: #e1524b;
    left: 1109px;
    top: 0px;
    height: 56px;
    width: 811px;
    text-align: center;
    font-size: 48px;
    font-family: 'Ubuntu', sans-serif;
}


/*LOGS DISPLAY STYLES START*/

.bluLOGS{
    background-color: lightblue;
    border: ridge;
}
.redLOGS{
    background-color: firebrick;
    border: ridge;
}